# ==================================
# 1. Ambientes Virtuais e Python
# ==================================

# Pastas de Ambiente Virtual
.venv
venv
env

# Cache de Compilação do Python
__pycache__/
*.pyc

# Arquivos de log/depuração
*.log
tempCodeRunnerFile.py  # Arquivo temporário comum do VS Code/Code Runner

# ==================================
# 2. Modelos de Machine Learning (YOLO) e Dados
# ==================================

# Modelos, Pesos e Checkpoints (Não devem ir para o Git)
# Inclui o yolo11n.pt
*.weights
*.pt
*.onnx
*.h5
runs/                  # Pasta comum para logs de treinamento e inferência (YOLO)
checkpoints/

# Datasets e Resultados Grandes
datasets/
data/
output/
results/

# ==================================
# 3. Artefatos de Build, Configurações Locais e Docker
# ==================================

# Pastas de build de projetos C/C++/Embarcados (como .build ou build/)
build/
dist/

# Ignora pastas de credenciais ou variáveis de ambiente local
.env
credentials.h
secrets.h

# Ignora o projeto/pasta amb inteira
amb/

# ==================================
# 4. Ferramentas de IDE/Sistema
# ==================================

# Ignora pastas de configuração do VS Code
.vscode/

# Arquivos de sistema/macOS
.DS_Store

# Pasta de sensores
#sensors/